In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as platform
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from pandas.core.common import random_state
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('Daily_Currency_Trends.csv')
df.head()

         Date  USD_Price  GBP_Price  CAD_Price  AUD_Price
0  1999-01-01  42.490000  69.928000  28.130000  26.792000
1  1999-01-02  42.496129  69.878516  28.135548  26.779645
2  1999-01-03  42.502258  69.829032  28.141097  26.767290
3  1999-01-04  42.508387  69.779548  28.146645  26.754935
4  1999-01-05  42.514516  69.730065  28.152194  26.742581

In [4]:
df.describe()

         USD_Price    GBP_Price    CAD_Price    AUD_Price
count  9497.000000  9497.000000  9497.000000  9497.000000
mean     57.460789    85.520304    46.136608    43.180389
std      13.705012    11.764741    10.503573    10.912421
min      39.195000    66.135000    28.120000    22.670000
25%      45.543548    75.871500    37.099333    33.496233
50%      50.973929    84.228645    48.379677    47.779133
75%      68.588000    96.161800    54.707300    53.487000
max      85.554000   111.980000    62.785000    58.447000

In [5]:
df.columns

Index(['Date', 'USD_Price', 'GBP_Price', 'CAD_Price', 'AUD_Price'], dtype='object')

In [6]:
X = df[ 'USD_Price' ]
y = df[ 'GBP_Price' ]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=100)

In [20]:
print(x_train)

4933    55.556613
823     46.850667
785     46.679643
6090    65.497600
5353    62.991935
          ...
350     43.564516
79      42.666290
8039    72.977935
6936    63.577419
5640    60.213333
Name: USD_Price, Length: 6647, dtype: float64

In [21]:
print(x_test)

6450    66.586355
4870    56.022903
2792    46.057097
4459    44.381452
1467    47.763226
          ...
7953    74.390258
3683    50.935484
5929    63.320161
5989    63.620903
527     44.783333
Name: USD_Price, Length: 2850, dtype: float64

In [22]:
print(y_test)

6450    86.500355
4870    86.330742
2792    86.451516
4459    72.749194
1467    78.018839
          ...
7953    97.084452
3683    72.923000
5929    96.654065
5989    99.401935
527     67.679333
Name: GBP_Price, Length: 2850, dtype: float64

In [23]:
print(y_test)

6450    86.500355
4870    86.330742
2792    86.451516
4459    72.749194
1467    78.018839
          ...
7953    97.084452
3683    72.923000
5929    96.654065
5989    99.401935
527     67.679333
Name: GBP_Price, Length: 2850, dtype: float64

In [16]:
import statsmodels.api as sm

In [17]:
x_train_sm=sm.add_constant(x_train)
linreg=sm.OLS(y_train,x_train_sm).fit()

In [18]:
sum=linreg.summary()

In [19]:
print(sum)

                            OLS Regression Results
==============================================================================
Dep. Variable:              GBP_Price   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                 1.550e+04
Date:                Mon, 07 Apr 2025   Prob (F-statistic):               0.00
Time:                        16:10:44   Log-Likelihood:                -21779.
No. Observations:                6647   AIC:                         4.356e+04
Df Residuals:                    6645   BIC:                         4.358e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.4208      0.339    130.882      0.000      43.755      45.086
USD_Price      0.7156      0.006    124.493      0.000       0.704       0.727
==============================================================================
Omnibus:                      759.774   Durbin-Watson:                   2.034
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              244.892
Skew:                           0.200   Prob(JB):                     6.64e-54
Kurtosis:                       2.149   Cond. No.                         255.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.